* {
  box-sizing: border-box;
}

html,
body {
  margin-top: 15px;
  overflow: hidden;
  height: 100%;
  font: 13 px Helvetica, Arial;
}


form input {
  border: 5;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
}

form button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}

#chat {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  height: 388px;
  overflow: hidden;
}

#messageList {
  margin: 0;
  padding: 0;
  overflow: scroll;
  flex-grow: 1;
}

#messageInput {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  padding: 3px;
  height: 50px;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
}
#messageInput > input[type="text"] {
  flex-grow: 1
}
#file-input {
  display: none;
}

#messageInput > button {
  width: 100px;
}

#messageList li {
  padding: 5 px 10 px;
}

#messageList li: nth - child(odd) {
  background: #eee;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
}